'Error sending CANCEL, Object already exists (PJ_EEXISTS)' errors on timer C expiry

<!--
This page is for reporting issues with Project Clearwater. If you have a question, rather than a bug report, the mailing list at clearwater@lists.projectclearwater.org is a better place for it.

To give us the best chance of fixing the problem, we've suggested some information to give - please follow these guidelines if possible.

Don't forget that you can attach logs and screenshots to Github issues - this may help us debug a problem.
-->

#### Symptoms
<!-- What exactly went wrong? (If possible, copy and paste the exact output you saw) -->

I ran stress where the callee didn't send a final INVITE response, to repro https://github.com/Metaswitch/sprout/issues/1704.

After 3 minutes when timer C expired, I saw a lot of these errors in the logs:

```
02-02-2017 20:02:17.339 UTC Warning pjsip: sip_transactio Unable to register CANCEL transaction (key exists)
02-02-2017 20:02:17.339 UTC Error basicproxy.cpp:1817: Error sending CANCEL, Object already exists (PJ_EEXISTS)
02-02-2017 20:02:17.342 UTC Warning pjsip: sip_transactio Unable to register CANCEL transaction (key exists)
02-02-2017 20:02:17.342 UTC Error basicproxy.cpp:1817: Error sending CANCEL, Object already exists (PJ_EEXISTS)
02-02-2017 20:02:17.376 UTC Warning pjsip: sip_transactio Unable to register CANCEL transaction (key exists)
02-02-2017 20:02:17.376 UTC Error basicproxy.cpp:1817: Error sending CANCEL, Object already exists (PJ_EEXISTS)
02-02-2017 20:02:17.378 UTC Warning pjsip: sip_transactio Unable to register CANCEL transaction (key exists)
02-02-2017 20:02:17.378 UTC Error basicproxy.cpp:1817: Error sending CANCEL, Object already exists (PJ_EEXISTS)
02-02-2017 20:02:17.414 UTC Warning pjsip: sip_transactio Unable to register CANCEL transaction (key exists)
02-02-2017 20:02:17.414 UTC Error basicproxy.cpp:1817: Error sending CANCEL, Object already exists (PJ_EEXISTS)
02-02-2017 20:02:17.421 UTC Warning pjsip: sip_transactio Unable to register CANCEL transaction (key exists)
02-02-2017 20:02:17.421 UTC Error basicproxy.cpp:1817: Error sending CANCEL, Object already exists (PJ_EEXISTS)
02-02-2017 20:02:17.452 UTC Warning pjsip: sip_transactio Unable to register CANCEL transaction (key exists)
02-02-2017 20:02:17.452 UTC Error basicproxy.cpp:1817: Error sending CANCEL, Object already exists (PJ_EEXISTS)
02-02-2017 20:02:17.456 UTC Warning pjsip: sip_transactio Unable to register CANCEL transaction (key exists)
02-02-2017 20:02:17.456 UTC Error basicproxy.cpp:1817: Error sending CANCEL, Object already exists (PJ_EEXISTS)
02-02-2017 20:02:17.495 UTC Warning pjsip: sip_transactio Unable to register CANCEL transaction (key exists)
02-02-2017 20:02:17.495 UTC Error basicproxy.cpp:1817: Error sending CANCEL, Object already exists (PJ_EEXISTS)
02-02-2017 20:02:17.495 UTC Warning pjsip: sip_transactio Unable to register CANCEL transaction (key exists)
02-02-2017 20:02:17.495 UTC Error basicproxy.cpp:1817: Error sending CANCEL, Object already exists (PJ_EEXISTS)
02-02-2017 20:02:17.530 UTC Warning pjsip: sip_transactio Unable to register CANCEL transaction (key exists)
02-02-2017 20:02:17.530 UTC Error basicproxy.cpp:1817: Error sending CANCEL, Object already exists (PJ_EEXISTS)
02-02-2017 20:02:17.533 UTC Warning pjsip: sip_transactio Unable to register CANCEL transaction (key exists)
02-02-2017 20:02:17.533 UTC Error basicproxy.cpp:1817: Error sending CANCEL, Object already exists (PJ_EEXISTS)
02-02-2017 20:02:17.557 UTC Warning pjsip: sip_transactio Unable to register CANCEL transaction (key exists)
02-02-2017 20:02:17.558 UTC Error basicproxy.cpp:1817: Error sending CANCEL, Object already exists (PJ_EEXISTS)
02-02-2017 20:02:17.566 UTC Warning pjsip: sip_transactio Unable to register CANCEL transaction (key exists)
02-02-2017 20:02:17.566 UTC Error basicproxy.cpp:1817: Error sending CANCEL, Object already exists (PJ_EEXISTS)
02-02-2017 20:02:17.569 UTC Warning pjsip: sip_transactio Unable to register CANCEL transaction (key exists)
02-02-2017 20:02:17.569 UTC Error basicproxy.cpp:1817: Error sending CANCEL, Object already exists (PJ_EEXISTS)
02-02-2017 20:02:17.599 UTC Warning pjsip: sip_transactio Unable to register CANCEL transaction (key exists)
02-02-2017 20:02:17.599 UTC Error basicproxy.cpp:1817: Error sending CANCEL, Object already exists (PJ_EEXISTS)
02-02-2017 20:02:17.603 UTC Warning pjsip: sip_transactio Unable to register CANCEL transaction (key exists)
02-02-2017 20:02:17.604 UTC Error basicproxy.cpp:1817: Error sending CANCEL, Object already exists (PJ_EEXISTS)
02-02-2017 20:02:17.605 UTC Warning pjsip: sip_transactio Unable to register CANCEL transaction (key exists)
02-02-2017 20:02:17.605 UTC Error basicproxy.cpp:1817: Error sending CANCEL, Object already exists (PJ_EEXISTS)
```

From digging into this, it looks as though:

* we have multiple transactions in a chain (e.g. I-CSCF then S-CSCF)
* timer C fires on both of them near-simultaneously
* the I-CSCF CANCEL gets forwarded to the S-CSCF, where the UAS transaction replies with a 200 OK and then CANCELs outstanding UAC transactions
* however, timer C has also fired on those UAC transactions, so we're generating two CANCELs
* because CANCELs always match the original INVITE's Via header, the transaction key for these two independently-generated CANCELs is the same

It looks like, after generating the first CANCEL, we should stop treating the transaction as pending and not generate further CANCELs. Section 16.7 of RFC 3261 says:

```
         If the forwarded response was a final response, the proxy MUST
         generate a CANCEL request for all pending client transactions
         associated with this response context.  A proxy SHOULD also
         generate a CANCEL request for all pending client transactions
         associated with this response context when it receives a 6xx
         response.  A pending client transaction is one that has
         received a provisional response, but no final response (it is
         in the proceeding state) and has not had an associated CANCEL
         generated for it.  Generating CANCEL requests is described in
         Section 9.1.
```

#### Impact
<!-- What is this preventing you from doing? Does this stop Clearwater working, or stop some calls being processed? -->

Diags spam, but nothing else (as the correct CANCEL has already been sent).

#### Release and environment 
<!-- For example: the "Doom" release, whether you're on VMware or OpenStack, etc. -->

`10.0.0-170202-~255.00.0-170202.020438`

#### Steps to reproduce

Run stress where the callee script doesn't send a final response for at least 180 seconds.

cf #1613