Call failing 503 Service Unavailable retried across alternate AS nodes and propagating back resulting in multiplied up attempts.

#### Symptoms
A test call was made through 4 application servers, routed out through in IBCF that returns 503 Service Unavailable due in this case to having nothing connected. The application servers passed 503 Service Unavailable back to the S-CSCF which then tries the alternative application servers from DNS in priority order before failing back 503 Service Unavailable again. Each time resulted in routing to the same IBCF that fails with 503 so the retries multiply up as they work back through the application servers.

#### Impact
Excessive load for a failing call

#### Release and environment 

10.0.0-170209 running on VMware

#### Notes from Matt Williams
Our solution elsewhere has been to translate retried 503 failures at a single node into a 504 (which isn't retried) - we should consider that here.

RFC 3261 section 16.7 step 6 actually says that we should not propagate 503s:

         A proxy which receives a 503 (Service Unavailable) response
         SHOULD NOT forward it upstream unless it can determine that any
         subsequent requests it might proxy will also generate a 503.
         In other words, forwarding a 503 means that the proxy knows it
         cannot service any requests, not just the one for the Request-
         URI in the request which generated the 503.  If the only
         response that was received is a 503, the proxy SHOULD generate
         a 500 response and forward that upstream.





SAS trace and exported pcap available in \\ad\csd\bigfiles\clearwater\issue-attachments\sprout\1791