Bad routing behaviour when we don't recognise the top Route header

<!--
This page is for reporting issues with Project Clearwater. If you have a question, rather than a bug report, the mailing list at clearwater@lists.projectclearwater.org is a better place for it.

To give us the best chance of fixing the problem, we've suggested some information to give - please follow these guidelines if possible.

Don't forget that you can attach logs and screenshots to Github issues - this may help us debug a problem.
-->

#### Symptoms
<!-- What exactly went wrong? (If possible, copy and paste the exact output you saw) -->

When Sprout receives a REGISTER with a top Route header which it doesn't recognise:

* Sprout challenges this request (because the authentication module doesn’t check whether a request is local)
*but the registrar then doesn’t handle it (because it spots that  the request isn’t local)
* and the Sproutlet proxy uses the Req-URI, not the Route header, to determine whether a request is local, so does process it - but the S-CSCF Sproutlet never normally handles REGISTERs so this doesn't work

Additionally, on a code-read, I noticed that [the Sproutlet proxy always strips the top Route header when forwarding a message, even if it isn't local](https://github.com/Metaswitch/sprout/blob/4da9db3a44ccf3de43a08ff30a269d2170184373/src/sproutletproxy.cpp#L565). This isn't right (but we should watch out for looping issues if we remove this!).

#### Impact
<!-- What is this preventing you from doing? Does this stop Clearwater working, or stop some calls being processed? -->

Calls are misrouted in hard-to-diagnose ways (e.g. REGISTER messages get handled by the BGCF)

#### Release and environment 
<!-- For example: the "Doom" release, whether you're on VMware or OpenStack, etc. -->

"Bulbasaur", all environments (but particularly noticeable on OpenStack Heat due to the config options used there).

#### Steps to reproduce

Configure "upstream_hostname" on Bono to a hostname which resolves to Sprout but which isn't configured on Sprout, and attempt to REGISTER.

What's the desired behaviour here?

If the SIP request we're handing isn't aimed at us (i.e the top Route header doesn't refer to us), we shouldn't attempt to do any local handling of it. It should end up hitting this line of code (https://github.com/Metaswitch/sprout/blob/4da9db3a44ccf3de43a08ff30a269d2170184373/src/sproutletproxy.cpp#L879) and being forwarded on.

(My notes above say that we shouldn't strip the top Route header, but I'm not convinced of that - the comment at https://github.com/Metaswitch/sprout/blob/4da9db3a44ccf3de43a08ff30a269d2170184373/src/sproutletproxy.cpp#L565 seems sensible in saying that this Route header is why this message has been routed to us, so we should remove it).

I'm pretty sure we should not remove Route headers that we don't recognize.  Section 16.4 of RFC 3261 says:

>   If the first value in the Route header field indicates this proxy,
>   the proxy MUST remove that value from the request.

@mirw - is that sensible at the moment? We don't do the optional loop detection step from https://tools.ietf.org/html/rfc3261#section-16.3, so if we get a Route header that resolves to us but which we don't recognise, and don't strip it, we'll just send it to ourselves repeatedly.

If you're talking about doing this as a short-term work-around until we implement loop detection, then maybe.  I read your comment as saying you thought this should be a long-term position.

Should we be implementing loop detection sooner rather than later?