Reason Header Field of History-Info Header added for CDIV is malformed.

It appears that the Reason Header Field of a History-Info added for CDIV is malformed. IR-92 references TS 24.604 (4.5.2.6.2.2, (b)) which says the following for the History-Info header: “If the diversion is based on a SIP response from the served user, a Reason header in escaped form shall be included in accordance with IETF RFC 7044 [3].” Looking at 7044 it shows an example of a “embedded” Reason header in section 5 (```History-Info: <sip:UserA@ims.example.com?Reason=SIP%3Bcause%3D302>;index=1.1,…```) and points to 3326 for details. RFC 3326 defines the grammar for the Reason Header Field in section 2 (which lines up with the example in 7044). When Sprout sends a diverted Invite (for busy), the first History-Info header looks like: ```History-Info: <sip:4144910002@vm2.richlab.datcon.co.uk;text=Busy%20Here;cause=486;Reason=SIP>;index=1```. This does not seem to follow the grammar as expected. 

Alex did some digging and found the following: RFC 4244 (the precursor to 7044) contains two different examples for how to encode the cause and text. Section 4.2 uses this form:
```
<sip:UserA@ims.example.com?Reason=SIP%3Bcause%3D302>;index=1;foo=bar
```
However the flows in section 4.5 use this representation, which is the one Sprout is using.
```
<sip:User2@UA2.example.com?Reason=SIP;cause=408;text="RequestTimeout">;index=1.1.1
```
However 7044 only mentions the first form, so I think this is the one we should use. (In fact I think this was probably the intention of the original RFC 4244 – that RFC did not place any special importance on the “cause” or “text” parameters, while RFC 3326 (Reason header) does which makes me think that RFC 4244 intended implementers use the section 4.2 form, and the section 4.5 form was included in error).
